#notfound-button {
  color: #fff;
}

#notfound-button:hover {
  color: #000;
}

.notfound {
  max-width: 330px;
  margin: 100px auto 0;
  background: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 1052;
}

.notfound h2.notfound-heading {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
  background: #68dff0;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.notfound-wrap {
  padding: 20px;
}

.btn-theme {
  color: #fff;
  background-color: #68dff0;
  border-color: #48bcb4;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active {
  color: #fff;
  background-color: #48bcb4;
  border-color: #48bcb4;
}